///////////////////////////////////
@media only screen and (min-width: 770px) {

   :root {

      font-size: 49%;
   }

   ///////////////////////////////////
   .mainHeader {

      display: none;
   }

   ///////////////////////////////////
   .gridBox {

      display              : grid;
      grid-template-columns: 1fr 1fr;
      gap                  : clamp(4rem, 5vw, 8rem);

      padding-top: clamp(2rem, 2vw, 5rem);


      margin: 0 auto;

      .resultAlt {

         display        : flex;
         flex-direction : column;
         justify-content: flex-start;

         height: 100%;
         width : 100%;

         @import 'deskResult';
      }
   }

   ///////////////////////////////////
   #calculator {

      height : 100%;
      padding: 0;

      .fields {

         display        : flex;
         flex-direction : column;
         align-items    : flex-end;
         justify-content: center;

         .calculatoirField {


            padding: clamp(.5rem, 1.5vw, 5rem);
            margin : 2rem 0;

            input {

               font-size: clamp(1rem, 5vw, 2rem);
            }
         }
      }



      .buttomContainer {

         justify-content: flex-end;
      }
   }
}

///////////////////////////////////
@media only screen and (min-width: 1600px) {
   :root {
      font-size: 62.5%;
   }
}

///////////////////////////////////
@media only screen and (min-width: 1920px) {
   :root {
      font-size: 85.5%;
   }
}

///////////////////////////////////
@media only screen and (max-width: 769px) {

   :root {

      font-size: 62.5%;
   }

   .gridBox {

      height: 100%;
   }

   .resultAlt {

      display: none;
      height : 0;
      width  : 0;
   }

   .calculatorContent {

      min-height: 80vh;

      input {

         font-size: clamp(2rem, 10vw, 10rem);

         width: clamp(6rem, 50vw, 20rem);
      }
   }

}

///////////////////////////////////
@media only screen and (max-width: 400px) {

   :root {

      font-size: 45%;
   }
}