@keyframes ResultScreenAnim {

   from {

      transform: translateY(50%);
   }

   to {

      transform: translateY(0);
   }

}

@keyframes Start {

   from {

      position: absolute;
      top     : 0;
      left    : 0;

      height : 100vh;
      z-index: 100;
   }

   to {
      height  : 7rem;
      position: static;
   }
}


.startAnim {

   animation-name      : Start;
   animation-duration  : .4s;
   animation-fill-mode : backwards;
   animation-play-state: running;
}

.resultAnim {

   animation-name     : ResultScreenAnim;
   animation-duration : .3s;
   animation-fill-mode: backwards;
}