:root {
  --primary-color: #116072;
  --primary-color-darker: #0a3f49;
  --white: #fff;
  --title-darker: #222;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  background: #F8F9FE;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  min-height: 60rem;
  height: 100vh;
  padding: 0;
  font-size: 2rem;
  line-height: 3rem;
}

main {
  min-height: 60rem;
  height: 90vh;
  width: min(100vw, 192rem);
  margin: 0 auto;
}

.mainHeader {
  background: var(--white);
  box-shadow: 0 0 5rem #0002;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  position: static;
}
.mainHeader h1 {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 700;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: clamp(1rem, 5vw, 5rem);
  padding-right: 0;
  padding-left: 0;
}
#calculator .calculatorContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
#calculator .fields {
  width: 100%;
}
#calculator .fields .calculatoirField {
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 5rem #0003;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 50rem;
  margin: 3rem auto;
  padding: 3rem;
}
#calculator .fields .calculatoirField .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: auto;
}
#calculator .fields .calculatoirField .box p {
  color: var(--primary-color);
  font-size: 2.5 rem;
  font-weight: 600;
}
#calculator .fields .calculatoirField .box span {
  font-size: 1.8rem !important;
  font-size: var(--primary-color);
  opacity: 0.5;
}
#calculator .fields .calculatoirField .box input {
  border: none;
  color: var(--primary-color);
  font-size: 8rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
#calculator .fields .calculatoirField .box input::-moz-placeholder {
  color: var(--primary-color);
  text-shadow: 0 0 1rem #0003;
}
#calculator .fields .calculatoirField .box input:-ms-input-placeholder {
  color: var(--primary-color);
  text-shadow: 0 0 1rem #0003;
}
#calculator .fields .calculatoirField .box input::placeholder {
  color: var(--primary-color);
  text-shadow: 0 0 1rem #0003;
}
#calculator .fields .calculatoirField .box .buttonBox {
  display: flex;
}
#calculator .fields .calculatoirField .box .buttonBox button {
  background: var(--white);
  border-radius: 100%;
  border: solid 0.2rem #11566620;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  margin: 0 0.5rem;
}
#calculator .fields .calculatoirField .box .buttonBox button img {
  width: 50%;
  transition: width 0.4s;
}
#calculator .fields .calculatoirField .box .buttonBox button:hover img {
  width: 40%;
}
#calculator .buttomContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
#calculator .buttomContainer #calculatorButton {
  background: var(--primary-color);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 5rem #0005;
  cursor: pointer;
  color: var(--white);
  font-size: 2rem;
  width: 90%;
  max-width: 50rem;
  padding: 2rem 0;
  transition: background 0.4s;
}
#calculator .buttomContainer #calculatorButton:hover {
  background: var(--primary-color-darker);
}

.resultData {
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  height: 18rem;
  width: 18rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
.resultData p {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.resultData span {
  font-size: 1.5rem;
}

.resultScreen {
  background: #F8F9FE;
  border-radius: 3rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 3rem;
}
.resultScreen header {
  color: var(--primary-color-darker);
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem 0rem;
}
.resultScreen .resultBoxMain {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 3rem;
}
.resultScreen .resultBoxMain .resultBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 50rem;
  height: 90%;
  width: 100%;
}
.resultScreen .resultBoxMain .resultBox .resultBubble {
  margin: auto;
  width: 100%;
}
.resultScreen .resultBoxMain .resultBox .imcData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  min-height: 100%;
  width: 100%;
}
.resultScreen .resultBoxMain .resultBox .imcData .imcTable {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  margin-top: 5rem;
}
.resultScreen .resultBoxMain .resultBox .imcData table {
  color: var(--primary-color);
  font-weight: 600;
  width: 100%;
  height: 100%;
}
.resultScreen .resultBoxMain .resultBox .imcData table td + td {
  text-align: right;
}
.resultScreen .resultBoxMain .resultBox .imcData .tabelaTitle {
  color: var(--primary-color-darker);
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
}
.resultScreen .resultScreenClose {
  background: transparent;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.onScreen {
  display: flex;
}

@media only screen and (min-width: 770px) {
  :root {
    font-size: 49%;
  }

  .mainHeader {
    display: none;
  }

  .gridBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(4rem, 5vw, 8rem);
    padding-top: clamp(2rem, 2vw, 5rem);
    margin: 0 auto;
  }
  .gridBox .resultAlt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  .gridBox .resultAlt .resultDesk {
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 5rem #0003;
    height: 100%;
    width: min(90%, 50rem);
    padding: 2rem 4rem;
  }
  .gridBox .resultAlt .resultDesk .imcData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  .gridBox .resultAlt .resultDesk .imcTable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    margin-top: 5rem;
  }
  .gridBox .resultAlt .resultDesk table {
    color: var(--primary-color);
    font-weight: 600;
    width: 100%;
    height: 100%;
  }
  .gridBox .resultAlt .resultDesk table td + td {
    text-align: right;
  }
  .gridBox .resultAlt .resultDesk .tabelaTitle {
    color: var(--primary-color-darker);
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
  }

  #calculator {
    height: 100%;
    padding: 0;
  }
  #calculator .fields {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  #calculator .fields .calculatoirField {
    padding: clamp(.5rem, 1.5vw, 5rem);
    margin: 2rem 0;
  }
  #calculator .fields .calculatoirField input {
    font-size: clamp(1rem, 5vw, 2rem);
  }
  #calculator .buttomContainer {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1600px) {
  :root {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 1920px) {
  :root {
    font-size: 85.5%;
  }
}
@media only screen and (max-width: 769px) {
  :root {
    font-size: 62.5%;
  }

  .gridBox {
    height: 100%;
  }

  .resultAlt {
    display: none;
    height: 0;
    width: 0;
  }

  .calculatorContent {
    min-height: 80vh;
  }
  .calculatorContent input {
    font-size: clamp(2rem, 10vw, 10rem);
    width: clamp(6rem, 50vw, 20rem);
  }
}
@media only screen and (max-width: 400px) {
  :root {
    font-size: 45%;
  }
}
@-webkit-keyframes ResultScreenAnim {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes ResultScreenAnim {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes Start {
  from {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
  }
  to {
    height: 7rem;
    position: static;
  }
}
@keyframes Start {
  from {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
  }
  to {
    height: 7rem;
    position: static;
  }
}
.startAnim {
  -webkit-animation-name: Start;
          animation-name: Start;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.resultAnim {
  -webkit-animation-name: ResultScreenAnim;
          animation-name: ResultScreenAnim;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}/*# sourceMappingURL=app.css.map */