* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background: linear-gradient(-225deg, #3ec5b3, #6f50ce);
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#signup-form {
  background: #fff;
  box-shadow: 0 0 25px #0002;
  border-radius: 1rem;
  color: #000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(70rem, 95%);
  padding: 6rem clamp(1rem, 6vw, 5rem) 4rem;
  margin: 4rem 0;
}
#signup-form h1 {
  color: #6A58A2;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
#signup-form .input-block {
  position: relative;
  width: 100%;
  margin: 1.5rem 0;
  overflow: hidden;
}
#signup-form .input-block.--valid label span {
  color: #2ed85e;
}
#signup-form .input-block.--valid label::after {
  content: "";
  border-bottom: solid 0.25rem #2ed85e;
}
#signup-form .input-block.--invalid label span {
  color: #ec5151;
}
#signup-form .input-block.--invalid label::after {
  content: "";
  border-bottom: solid 0.25rem #ec5151;
}
#signup-form .input-block.--too-short label::before {
  content: "Too Short *";
  color: #ec5151;
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  animation: appear 0.3s backwards;
}
#signup-form .input-block.--empty label {
  border-bottom: solid 0.25rem #ec5151;
}
#signup-form .input-block.--empty label span {
  color: #ec5151;
}
#signup-form .input-block.--empty label::after {
  content: "";
  border-bottom: solid 0.25rem #ec5151;
}
#signup-form .input-block.--empty::before {
  content: "Fill in this field*";
  color: #ec5151;
  font-size: 1.3rem;
  font-weight: 700;
  position: absolute;
  right: 0.2rem;
  bottom: 1rem;
  animation: appear 0.3s backwards;
}
#signup-form .input-block.--subimt-alert {
  position: relative;
  overflow: visible;
}
#signup-form .input-block.--subimt-alert::after {
  content: "Please insert a valid value";
  animation: appear 0.3s backwards;
  background: #dfd6fa;
  border-radius: 1rem;
  border: solid 1px #0002;
  box-shadow: 0 0 10px #0001;
  font-size: 1.3rem;
  font-weight: 700;
  position: absolute;
  bottom: -4.7rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  z-index: 100;
}
#signup-form .input-block.--subimt-alert::before {
  content: "";
  animation: appear 0.3s backwards;
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dfd6fa;
  display: block;
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 110;
  height: 0;
  width: 0;
}
#signup-form .input-block.email--block.--unmatch-alert {
  position: relative;
  overflow: visible;
}
#signup-form .input-block.email--block.--unmatch-alert::after {
  content: "E-mails don't match";
  animation: appear 0.3s backwards;
  background: #dfd6fa;
  border-radius: 1rem;
  border: solid 1px #0002;
  box-shadow: 0 0 10px #0001;
  font-size: 1.3rem;
  font-weight: 700;
  position: absolute;
  bottom: -4.7rem;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 1rem;
  z-index: 100;
}
#signup-form .input-block.email--block.--unmatch-alert::before {
  content: "";
  animation: appear 0.3s backwards;
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dfd6fa;
  display: block;
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 110;
  height: 0;
  width: 0;
}
#signup-form .input-block.password--block.--unmatch-alert {
  position: relative;
  overflow: visible;
}
#signup-form .input-block.password--block.--unmatch-alert::after {
  content: "Passwords don't match";
  animation: appear 0.3s backwards;
  background: #dfd6fa;
  border-radius: 1rem;
  border: solid 1px #0002;
  box-shadow: 0 0 10px #0001;
  font-size: 1.3rem;
  font-weight: 700;
  position: absolute;
  bottom: -4.7rem;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 1rem;
  z-index: 100;
}
#signup-form .input-block.password--block.--unmatch-alert::before {
  content: "";
  animation: appear 0.3s backwards;
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dfd6fa;
  display: block;
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 110;
  height: 0;
  width: 0;
}
#signup-form input {
  border: none;
  font-size: 2rem;
  outline: none;
  width: 100%;
  padding: 2.8rem 0 0.5rem;
}
#signup-form label {
  border-bottom: solid 0.25rem #000a;
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}
#signup-form label::after {
  content: "";
  border-bottom: solid 0.25rem #6A58A2;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
}
#signup-form label span {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  height: 100%;
  width: 100%;
  transform: translateY(3rem);
  transition: transform, font-size, 0.3s ease-out;
}
#signup-form input:focus + label span,
#signup-form input:valid + label span,
#signup-form input:focus + label::after,
#signup-form input:valid + label::after {
  transform: translateY(0);
  transform: translateX(0);
}
#signup-form input:focus + label span,
#signup-form input:valid + label span {
  color: #6A58A2;
  font-size: 1.3rem;
}
#signup-form button#submit {
  background: #6A58A2;
  border: none;
  border-radius: 0.7rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  align-self: flex-start;
  width: max-content;
  padding: 1rem 4rem;
  margin-top: 2rem;
  transition: filter 0.3s;
}
#signup-form button#submit:hover {
  filter: brightness(0.78);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.appear-anim {
  animation: appear 0.3s backwards;
}

/*# sourceMappingURL=app.css.map */
