.task-box {

   background   : #fff;
   border-radius: 1rem;
   box-shadow   : 0 0 15px #0001;
   color        : #6A58A2;

   display        : flex;
   justify-content: space-between;
   align-items    : center;

   width: 100%;

   padding   : 1rem;
   margin-top: 1rem;

   animation : down .3s backwards;
   transition: background, color, .3s;

   .task {

      font-size  : max(16px, 1.8rem);
      font-weight: 600;
      flex       : 1;

      margin-right: .5rem;
   }

   &.checked {

      background: #d8d7d7;


      .task {

         color          : #000;
         text-decoration: line-through;
      }

      button.check-uncheck-button::after {

         background-color: #6A58A2;
      }
   }

   &.unchecked {

      button.check-uncheck-button::after {

         background-color: #858585ee;
      }
   }
}